/**** CASCADING STYLE SHEET ****/


/**** Defaults for standard elements ****/

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #222; 
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
    overflow-x: hidden; 
    box-sizing: border-box;
}

header {
	background-color: #222;
    height: 160px;
    padding: 20px 120px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
	width: 100%;
    padding: 30px 120px;
    box-sizing: border-box;
}

div {
    position: relative;
	margin: 0px;
	padding: 0px;
}

h1 { 
	font-family: 'Abril Fatface', cursive;
	font-size: 3.5rem;
}

h2 { 
	font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 5px;
	text-transform: uppercase;
}

h3 {
    font-family: 'Oleo Script', cursive;
    font-size: 2rem;
    font-weight: 400;
	color: #666;
	margin: 5px;  
}

h4 {
    font-size: 1.2rem;
	font-weight: 700;
	margin: 10px 0px 0px;
}

p {
    margin: .5rem 0px; 
}

button {
    height: 2.3rem;
    padding: 10px 13px;
    color: white;
    text-transform: uppercase;
    background-color: #222;
    border: none;
    border-radius: 5px;
    margin: 30px 0px 10px;
    /* transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */
}

button:hover {
    /* background-color: #555!important;   */
    cursor: pointer;
}

button:focus {
    outline: 0;
}


/**** IDs for specific elements ****/

#page-title {
	color: white;
	text-align: center;
	margin: 0px 0px 20px;  
}

#tagline {
    color: white;
	text-align: center;
	margin: 0px;  
}

#intro {
    text-align: center;
    margin-bottom: 10px;
}

#palette-name {
    font-weight: 700px;
}

#color-scheme {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/**** Classes for custom styles ****/

.color-scheme-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.color-block {
    background-color: #CCC;  /* Default until user clicks button to get a random scheme */
    width: 120px;
    height: 120px;
    margin: 15px;
    border: 1px solid #DDD;  /* Slightest grey for when color is extremely light */
}

.color-code {
    width: 120px;
    height: 40px;
    margin: 0px 15px;
    text-align: center;
}

